# python Data structure

# 1.What are data structures, and why are they important?
   - A data structure is the way to organise our data in an efficient way.
   - with the help of data structure we store our data and modify it easily , choosing the correct data structure can make programmer's work easy.
   - It helps us to handle large amount of data in a clean and logical way.

# 2.Explain the difference between mutable   and immutable data types with examples?
  - In python we have two types of data structures , mutable and immutable data structure:
   - Mutable data structure : In this data structure , we can change and modify objects after the creation. we can perform many methods like add ,remove , update , del etc.
   It used when data need to be updated or changed frequently.
   - Example : List , set , dict.
   
   - Immutable data structure : In this data structure , we can not change objects after the creation. we can not perform any operations like update , add etc.
   It used when data should remain constant for security ,performance and stability
   -Example : Tuple, string ,integer, etc..

# 3. What are the main differences between lists and tuples in Python?
 - In python, list and tuple both are data structure which is used to store data in organised way, but they have key differances in behavior , usages and performance.
   - List data structure is mutable while tuple is immutable data stucture.
   - list represented by the square bracket [] while tuple represented by parentheses ().
   - List takes more memory than the tuple.
   - list is slower than the tuple.
   - List used when data is expected to change while tuple are used when data remain constant for security purpose.
   - List have more methods like .appned() , .update() , .insert() , etc. while tuples have few methods like .count() , .index().

# 4. Describe how dictionaries store data?
   - dictionary stores data in key-value pairs,each key has unique value and immutable,value can be any type of data(int,float,str,etc). we can access values with the help of keys. it is mutable data structure , we can perform many methods like add , update , remove , etc..
   - example:
    dict = {'name':'shree','age':32,'city':'pune'}
    #accessing data:
     print(dict['name'])
     output is shree.

# 5.Why might you use a set instead of a list in Python?
   - We might use a set instead of a list in python when:
     - We want to remove duplicates automatically.
     - For accessing sets operation like intersect,union etc., lsit doesn't contain this methods.
     - When we want unordered collection of data.
     - More fasters in search.

# 6. What is a string in Python, and how is it different from a list?
   -  In python , string is a sequence of characters and is immutable while list is a collection of items any type and is mutable.list has methods .append() , .update() , .remove() , etc. but string has  .lower() , .upper() , etc. string used for  text data while list used for any type of data.

# 7. How do tuples ensure data integrity in Python?
 - A tuple is an immutable data structure , which means:
  - Once tuple is created , its content cannot be changed.
  - this immutable features gives it stability , security and performance.
  - Because , the data can not be altered , the tuple ensures that  the value stayed constent through out the program.

# 8. What is a hash table, and how does it relate to dictionaries in Python?
  - A hash table is a data structure that stores data in the key- value pairs. it uses hash function to convert unique key index where value is stored in the memory.
  this makes data accessing , inserting and deleting very fast.
  - In python , dict data structure implemented using a hash table internally.
  each key in dictionary is  passed through a hash function.

# 9. Can lists contain different data types in Python?
  - Yes, lists contain elements of  different types of data in python such as:
   int ,  float , str, bool , other list , dict , tuple , set even any funtion.

# 10. Explain why strings are immutable in Python?
 - In python , strings are immutable which means once it created, can not changed or modified.
 - If strings were mutable, changing one string would affect all references to it , leading to bugs and memory issues.  
 - Immutable strings are useful where data shold not change.
 - immutability ensures data integrity.

# 11.What advantages do dictionaries offer over lists for certain tasks?
  - Dictionaries offer several advantages over lists , espacially when we need to  work on key-value pairs and need fast data lookup.
  - dict not allows duplicte values.
  - lists searches item through the index but dict provides instant  access to values using keys.
  - dictionaries are perfect when you need to store related attributes of objects(person's details).
  
# 12. Describe a scenario where using a tuple would be preferable over a list?
  -  A tuple would be preferable over a list in a situation where you want to store data that should not be changed.
   - Using tuple ensures that no one change or modify your data, because it is immutable while you used list someone accidentally modify or change its content.
   - Tuple is faster than List for accessing data.

# 13. How do sets handle duplicate values in Python?
  - In python , set stored unordered and unique collection of data. it removes duplicates automatically.
  - Not stored duplicates , each element has its only one copy.
  - sets used hashing for storing data.

# 14. How does the “in” keyword work differently for lists and dictionaries?
  - "in" keyword is used to check membership in python but it behaves differently for lists and dictionaries.
  In list, "in" keyword used for checking presence of value while in dictionaries used for checking keys, not for the values.
  - checking for values in dictionary we need to use .value() method.

# 15.  Can you modify the elements of a tuple? Explain why or why not?
  - No , you can not modify the elements of a tuple because it is immutable data strucutre that means no one can change or modify tuple content after its creation.
  - Tuple ensures us to data integrity.

# 16. What is a nested dictionary, and give an example of its use case?
  - A nested dictionary is a dictionary inside another dictionary. in python , it allows us to store complex and structured data using multi layers of  key-value pairs.
  - It is useful for represented structured data , such as student records , employee details etc..

# 17. Describe the time complexity of accessing elements in a dictionary?
  - In python , accessing an element in a dictionary using a key has an average time complexity of o(1).
  This means that the value can be retrieved in constant time, regardless of how many items are in the dictionary.
  - python dictionary , use a hash table internally when key is accessed:
   - A hash funtion is applied to the key.
   - The hash value quickly find the  location of the value in the memory.

# 18. In what situations are lists preferred over dictionaries?
  - Lists are preferred over dictionaries in situation where:
   - you want to access element by its index not by key.
   - we need to store elements in the sequence.
   - Lists are ideal for storing elements that do not need to names or labels.
   - list allows duplicates while dictionary keys must be unique.

# 19. Why are dictionaries considered unordered, and how does that affect data retrieval?
  - In python , dictionaries considered as unordered collection of data that means we can not access items by its positions(index) but by keys but it does not affect on data retrieval , it's constant o(1).

# 20.Explain the difference between a list and a dictionary in terms of data retrieval?
  - The difference between a list and a dictionary in terms of data retrieval:
   - list stores data in ordered stuctures while dictionary stores data in key-value pairs.
   - We can access list data by its position(index) starting from numerical value [0] , while dictionary access or retrieve its items by its unique key.
   - Example(list) : list[0] by indexing
   - Example(dict) : dict["key"] by unique key

# Coding questions

# 1. Write a code to create a string with your name and print it.

In [2]:
name = "Ranjana"
print("my name is",name)

my name is  Ranjana

# 2. Write a code to find the length of the string "Hello World".

In [3]:
msg = "Hello World"
print(len(msg))

11

# 3.Write a code to slice the first 3 characters from the string "Python Programming".

In [4]:
A = "Python Programming"
print(A[0:3])

Pyt

# 4.Write a code to convert the string "hello" to uppercase.

In [5]:
B = "hello"
print(B.upper())

HELLO

# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [9]:
message = ("I like apple")
new_message = message.replace("apple","orange")
print(new_message)

I like orange

# 6.Write a code to create a list with numbers 1 to 5 and print it.

In [11]:
numbers = [1,2,3,4,5]
print(numbers)

[1, 2, 3, 4, 5]

# 7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [12]:
numbers = [1,2,3,4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [13]:
numbers = [1,2,3,4,5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [14]:
list = ['a','b','c','d']
print(list[1])

b

# 10.  Write a code to reverse the list [10, 20, 30, 40, 50]

In [15]:
# using reverse() method , we can also reverse by slicing
list = [10,20,30,40,50]
list.reverse()
print(list)

[50, 40, 30, 20, 10]

# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [16]:
tuple = (100,200,300)
print(tuple)

(100, 200, 300)

# 12.  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [17]:
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [18]:
tuple = (10, 20, 5, 15)
print(min(tuple))

5

# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [20]:
animals = ('dog','cat','rabbit')
new_ani = animals.index('cat')
print(new_ani)

1

# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [21]:
fruits = ('apple','orange','kiwi')
if 'kiwi' in fruits:
    print("kiwi is in the list of fruits")
else:
    print("kiwi is not in the list of fruits")

kiwi is in the list of fruits

# 16.  Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [22]:
set1 = { 'a', 'b', 'c'} #unordered collection of items
print(set1)

{'c', 'b', 'a'}

# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [23]:
set1 = {1, 2, 3, 4, 5}
set1.clear()
print(set1)

set()

# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [24]:
my_set =  {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [25]:
set1 = {1,2,3}
set2 = {3,4,5}
print(set1.union(set2)) #gives unique values from both sets>>remove duplicates

{1, 2, 3, 4, 5}

# 20.  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [27]:
set1 = {1,2,3}
set2 = {2,3,4}
intersect_set = set1.intersection(set2)
print(intersect_set) # ouput >> common elements from both sets

{2, 3}

# 21.  Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [28]:
student = { "name":"Reena", "age":22, "city":"jaipur"}
print(student)

{'name': 'Reena', 'age': 22, 'city': 'jaipur'}

# 22.  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [30]:
employee =  {'name': 'John', 'age': 25}
employee["country"] = "USA"
print(employee)

{'name': 'John', 'age': 25, 'country': 'USA'}

# 23.  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [35]:
std = {'name': 'Alice', 'age': 30}
print(std["name"])

Alice

# 24.  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [36]:
emp_information = {'name': 'Bob', 'age': 22, 'city': 'New York'}
emp_information.pop("age")
print(emp_information)

{'name': 'Bob', 'city': 'New York'}

# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [38]:
dict1 = {'name': 'Alice', 'city': 'Paris'}
if "city" in dict1:
  print("city key availabel in dict1")
else:
  print("city key not available in dict1")

city key availabel in dict1

# 26.Write a code to create a list, a tuple, and a dictionary, and print them all.

In [40]:
list = [1,2,3]
tuple = (1,2,3,4)
dict = {"name":"one","name1":"two","name2":"three"}
print(list)
print(tuple)
print(dict)

[1, 2, 3]
(1, 2, 3, 4)
{'name': 'one', 'name1': 'two', 'name2': 'three'}

# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.

In [42]:
numbers = [65,25,88,32,28] # took random numbers from 1 to 100
numbers.sort()
print(numbers)

[25, 28, 32, 65, 88]

# 28. Write a code to create a list with strings and print the element at the third index.

In [43]:
my_list = ["shree","shyama","meera","rupa"]
print(my_list[2])

meera

# 29. Write a code to combine two dictionaries into one and print the result.

In [44]:
dict1 = {'name': 'Ranjana', 'age': 25}
dict2 = {'course': 'AI', 'city': 'Vadodara'}
dict1.update(dict2)
print(dict1)

{'name': 'Ranjana', 'age': 25, 'course': 'AI', 'city': 'Vadodara'}

# 30. Write a code to convert a list of strings into a set.

In [46]:
names = ["shree","shyama","meera","rupa"]
print(set(names))

{'shree', 'shyama', 'meera', 'rupa'}